<div class="login">
    <div class="registrationHeader">
        <span class="title">verifico</span>
    </div>

    <div nz-col nzSpan="12" nzXs="24" nzSm="24" nzMd="18" nzLg="12" nzXl="10" style="background-color: white;">
        <div style="background: #fff; padding:20px; min-width: 600px">
            <nz-card style="width:100%" [nzBordered]="false">
                <nz-card-meta class="cardMeta" nzTitle="Log In" nzDescription=""></nz-card-meta>

                <form nz-form nzLayout="vertical" [formGroup]="loginForm" (ngSubmit)="submitForm()">

                    <!-- Email -->
                    <nz-form-item>
                        <nz-form-label [nzSpan]="null" nzFor="userName">User Name</nz-form-label>
                        <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid user name.">
                            <nz-input-group nzSize="large">
                                <input type="text" nz-input nzSize="large" formControlName="userName"
                                    placeholder="Enter user name here" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>

                    <!-- Password -->
                    <nz-form-item>
                        <nz-form-label [nzSpan]="null" nzFor="password">Password</nz-form-label>
                        <nz-form-control [nzSpan]="null" nzErrorTip="Password must be of atleast 6 characters.">
                            <nz-input-group nzSize="large">
                                <input type="password" nz-input nzSize="large" formControlName="password"
                                    placeholder="Enter password" />
                            </nz-input-group>

                            <!-- <nz-input-group [nzSuffix]="suffixTemplate">
                                <input [type]="passwordVisible ? 'text' : 'password'" nz-input
                                    placeholder="input password" [(ngModel)]="password" />
                            </nz-input-group>
                            <ng-template #suffixTemplate>
                                <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                    (click)="passwordVisible = !passwordVisible"></i>
                            </ng-template> -->
                        </nz-form-control>
                    </nz-form-item>

                    <!-- acknowledge -->
                    <nz-form-item
                        style="display: flex; flex-direction: row !important; align-items: center; justify-content: space-between;">
                        <label nz-checkbox>Remember Me</label>
                        <div class="forget" (click)="onForgetPassword()">Forget Password</div>
                    </nz-form-item>

                    <!-- button -->
                    <nz-form-item nz-row style="margin-bottom:5px" [nzGutter]="8">
                        <nz-form-control>
                            <button type="submit" nz-button nzType="primary" nzBlock class="btn"
                                [disabled]="!loginForm.valid">Login</button>
                        </nz-form-control>
                    </nz-form-item>
                </form>

                <br>
                <div style="text-align:center">
                    Don't have an account? <a class="signIn" (click)="onSignUp()">Sign Up</a>
                </div>
            </nz-card>
        </div>
    </div>
</div>