.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 32px;
    margin: 16px;

    .title {
        font-size: 18.712px;
        font-weight: 700;
        line-height: 28px;
        color: #FFFFFF;
    }
}

.menuItem {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #AEB9DE;
}

.ant-menu-item-selected {
    background: #4A6998 !important;
    border-radius: 0px 25px 25px 0px;
    border-left: 7px solid #3BE5BF;
}

.layout {
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

nz-sider {
    overflow: auto;
    height: 100%;
    position: fixed;
    left: 0;
}

.right-layout {
    margin-left: 200px;

    .profileSection {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: inherit;
        min-width: 275px;

        .userImg {
            height: 30px;
            width: 30px;
            margin-right: 10px;
            border-radius: 50%;
            background: #000;
        }

        .username {
            font-size: 19.9452px;
            font-weight: 500;
            line-height: 24px;
            color: #343A40;
        }
    }
}

nz-header {
    background: #fff;
    padding: 0;
}

nz-content {
    margin: 24px 16px 0;
    overflow: initial;
}

.inner-content {
    padding: 24px;
    text-align: center;
}

nz-footer {
    text-align: center;
}