.registration {
    background-color: #EFF3FB;
    min-height: calc(100vh);
    min-width: calc(100vw - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .cardParentDiv {
        background-color: white;
        margin-top: 15px;
    }

    .cardChildDiv {
        padding: 20px;
        width: 600px;
    }

    .cardStyle {
        background-color: white;
        width: 100%;
    }

    .cardMeta {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 30px;

        // background: #FFFFFF;
        border-radius: 5px;
    }

    .btn {
        min-height: 55px;
        font-size: 18px;
        font-weight: 600;
        background: #29B475;
        border: none;
    }

    .diabledBtn {
        min-height: 55px;
        font-size: 18px;
        font-weight: 600;
        background: #29B475;
        opacity: 0.22;
        border: none;
    }

    .ackTxt {
        color: #29B475;
    }

    .signIn {
        color: #29B475;
    }

    @media screen and (max-width: 550px) {
        .cardParentDiv {
            background: transparent;
        }

        .cardChildDiv {
            width: -webkit-fill-available;
        }

        .cardStyle {
            background: transparent;
        }
    }
}