<div class="registration">
    <div class="registrationHeader">
        <a class="title" href="/">
            <img src="assets/logo-white.svg"  style="height: 75px;  filter: drop-shadow(1px 2px 2px rgb(0 0 0 / 0.4));" alt="">
        </a>
    </div>

    <div nz-col nzSpan="12" nzXs="24" nzSm="24" nzMd="18" nzLg="18" nzXl="10"
        style="background-color: white; margin-top: 15px;">
        <div style="background: #fff; padding:20px; min-width: 600px">
            <nz-card style="width:100%" [nzBordered]="false">
                <nz-card-meta class="cardMeta" nzTitle="Forget Password?">
                </nz-card-meta>

                <form nz-form nzLayout="vertical" [formGroup]="forgetPasswordForm" class="login-form"
                    (ngSubmit)="submitForm()">

                    <!-- Email -->
                    <nz-form-item style="width: 100%; margin: 0px !important;">
                        <nz-form-label [nzSpan]="null" nzFor="username">Email Address</nz-form-label>
                        <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid email address.">
                            <nz-input-group nzSize="large">
                                <input type="text" nz-input formControlName="email"
                                    placeholder="Eg info@domainname.com" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>

                    <!-- button -->
                    <nz-form-item nz-row style="width: 100%;margin-bottom:5px" [nzGutter]="0">
                        <nz-form-control>
                            <button nz-button nzSize="large" [disabled]="!forgetPasswordForm.valid" nzType="primary"
                                nzBlock>Send</button>
                        </nz-form-control>
                    </nz-form-item>
                </form>

                <br>
            </nz-card>
        </div>
    </div>

    <nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" [nzFooter]="null">
        <ng-container *nzModalContent>
            <nz-result nzStatus="success" nzTitle="Confirm Token"
                nzSubTitle="This code will expire in 10 minutes. Check your email for OTP.">
                <div nz-result-content>
                    <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 20px;">
                        <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:4}"></ng-otp-input>
                    </div>

                    <div style="display: flex; align-items: center; justify-content: center;">
                        <button nz-button nzSize="large" class="modalDoneBtn" nzType="primary" (click)="onOtpDone()">
                            <span>Verify</span>
                        </button>
                    </div>

                    <div style="margin-top: 10px; text-align:center">
                        Didn't get the link? <a class="signIn" (click)="onSendAgain()">Send again</a>
                    </div>
                </div>
            </nz-result>
        </ng-container>
    </nz-modal>
</div>