.companyEmailContainer {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    .title {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        color: #333333;

        margin: 10px 0px;
    }

    .formContainer {
        border-top: 10px solid #3BE5BF;
        background: #FFFFFF;
        border-radius: 5px;
        padding: 20px;
        width: 550px;
    }

}

.previewTitle {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: #002A6A;

    font-weight: 700;
    font-size: 19px;
}

.description-title {
    font-weight: 500;
    font-size: 16px;
}


.previewContainer {
    background: #fff;
    padding: 20px;
    border-top: 7px solid #3BE5BF;
}

.btn {
    min-height: 40px;
    background: #29B475;
    border-radius: 5px;
    border: #29B475;
    padding: 10px 20px;
}

.backBtn {
    min-height: 40px;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
}

@media screen and (max-width: 550px) {
    .companyEmailContainer {
        margin-top: 40px;

        .formContainer {
            width: inherit;
        }
    }
}