<div class="registration">
    <div class="registrationHeader">
        <span class="title">verifico</span>
    </div>

    <div nz-col nzSpan="12" nzXs="24" nzSm="24" nzMd="18" nzLg="12" nzXl="10" style="background-color: white;">
        <div style="background: #fff;padding:20px;">
            <nz-card style="width:100%" [nzBordered]="false">
                <nz-card-meta class="cardMeta" nzTitle="Create An Account"
                    nzDescription="Let’s get you started with your account creation, this won’t take long">
                </nz-card-meta>

                <nz-steps [nzCurrent]="activedStep" nzProgressDot>
                    <nz-step nzTitle="Personal Details"></nz-step>
                    <nz-step nzTitle="Organization Details"></nz-step>
                </nz-steps>


                <div *ngIf="activedStep === 0">
                    <form nz-form nzLayout="vertical" [formGroup]="registrationForm" class="login-form"
                        (ngSubmit)="submitForm()">

                        <div nz-row [nzGutter]="12">
                            <!-- first name -->
                            <div nz-col [nzSpan]="12">
                                <nz-form-item>
                                    <nz-form-label [nzSpan]="null" nzFor="firstName">First Name</nz-form-label>
                                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid First Name.">
                                        <nz-input-group nzSize="large">
                                            <input type="text" nz-input formControlName="firstName"
                                                placeholder="First name" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <!-- Last Name -->
                            <div nz-col [nzSpan]="12">
                                <nz-form-item>
                                    <nz-form-label [nzSpan]="null" nzFor="lastName">Last Name</nz-form-label>
                                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid email adddress.">
                                        <nz-input-group nzSize="large">
                                            <input type="text" nz-input formControlName="lastName"
                                                placeholder="Last name" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>

                        <!-- Email -->
                        <nz-form-item>
                            <nz-form-label nzFor="email">Email Address</nz-form-label>
                            <nz-form-control nzErrorTip="Enter valid email adddress.">
                                <nz-input-group nzSize="large">
                                    <input type="text" nz-input formControlName="email"
                                        placeholder="Enter email address here" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>

                        <!-- Password -->
                        <nz-form-item>
                            <nz-form-label nzFor="password">Password</nz-form-label>
                            <nz-form-control nzErrorTip="Password must be of atleast 6 characters.">
                                <nz-input-group nzSize="large">
                                    <input type="password" nz-input formControlName="password"
                                        placeholder="Enter password" />
                                </nz-input-group>

                                <!-- <nz-input-group [nzSuffix]="suffixTemplate">
                                <input [type]="passwordVisible ? 'text' : 'password'" nz-input
                                    placeholder="input password" [(ngModel)]="password" />
                            </nz-input-group>
                            <ng-template #suffixTemplate>
                                <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                    (click)="passwordVisible = !passwordVisible"></i>
                            </ng-template> -->
                            </nz-form-control>
                        </nz-form-item>

                        <!-- Phone No -->
                        <div>
                            <nz-form-item>
                                <nz-form-label nzFor="phone">Phone Number</nz-form-label>
                                <nz-form-control nzErrorTip="Please enter your phone number!">
                                    <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" nzSize="large">
                                        <input formControlName="phone" id="phoneNumber" nz-input nzSize="large" />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                            <ng-template #addOnBeforeTemplate>
                                <nz-select formControlName="phoneNumberPrefix">
                                    <nz-option nzLabel="+86" nzValue="+86"></nz-option>
                                    <nz-option nzLabel="+87" nzValue="+87"></nz-option>
                                </nz-select>
                            </ng-template>
                        </div>

                        <!-- plans -->
                        <nz-form-item>
                            <nz-form-label nzFor="plan">Select Plans</nz-form-label>
                            <nz-form-control nzErrorTip="Please select your plan!">
                                <nz-select id="plan" nzSize="large" formControlName="plan" nzPlaceHolder="Select plan"
                                    (ngModelChange)="planChange($event)">
                                    <nz-option nzValue="premium" nzLabel="Premium"></nz-option>
                                    <nz-option nzValue="essentials" nzLabel="Essentials"></nz-option>
                                    <nz-option nzValue="standards" nzLabel="Standards"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>

                        <!-- acknowledge -->
                        <nz-form-item>
                            <label nz-checkbox> I acknowledge that I have read and hereby accept the terms and
                                conditions in
                                verificio and its <span class="ackTxt">third party partners, Terms of Use, and Privacy
                                    Policy.</span></label>
                        </nz-form-item>

                        <!-- button -->
                        <!-- <nz-form-item nz-row style="margin-bottom:5px" [nzGutter]="8">
                            <nz-form-control>
                                <button nz-button nzType="primary" nzBlock class="btn">Create Account</button>
                            </nz-form-control>
                        </nz-form-item> -->
                    </form>
                </div>


                <div *ngIf="activedStep === 1">
                    <form nz-form nzLayout="vertical" [formGroup]="organizationForm" class="login-form"
                        (ngSubmit)="submitForm()">

                        <!-- Company Name -->
                        <nz-form-item>
                            <nz-form-label [nzSpan]="null" nzFor="companyName">Company Name</nz-form-label>
                            <nz-form-control [nzSpan]="null" nzErrorTip="Enter company name.">
                                <nz-input-group nzSize="large">
                                    <input type="text" nz-input formControlName="companyName"
                                        placeholder="Enter company name" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>

                        <!-- Job Role -->
                        <nz-form-item>
                            <nz-form-label [nzSpan]="null" nzFor="jobRole">Job Role</nz-form-label>
                            <nz-form-control [nzSpan]="null" nzErrorTip="Enter your job role.">
                                <nz-input-group nzSize="large">
                                    <input type="text" nz-input formControlName="jobRole"
                                        placeholder="Enter your job role" />
                                </nz-input-group>

                                <!-- <nz-input-group [nzSuffix]="suffixTemplate">
                            <input [type]="passwordVisible ? 'text' : 'password'" nz-input
                                placeholder="input password" [(ngModel)]="password" />
                        </nz-input-group>
                        <ng-template #suffixTemplate>
                            <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                (click)="passwordVisible = !passwordVisible"></i>
                        </ng-template> -->
                            </nz-form-control>
                        </nz-form-item>

                        <!-- Company Size -->
                        <nz-form-item>
                            <nz-form-label nzFor="companySize">Company Size</nz-form-label>
                            <nz-form-control nzErrorTip="Please select your company size!">
                                <nz-select id="plan" nzSize="large" formControlName="companySize" nzPlaceHolder="Select"
                                    (ngModelChange)="planChange($event)">
                                    <nz-option nzValue="0-50" nzLabel="0-50"></nz-option>
                                    <nz-option nzValue="50-100" nzLabel="50-100"></nz-option>
                                    <nz-option nzValue="100-200" nzLabel="100-200"></nz-option>
                                    <nz-option nzValue="200-300" nzLabel="200-300"></nz-option>
                                    <nz-option nzValue="300-400" nzLabel="300-400"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>

                        <!-- Industry -->
                        <nz-form-item>
                            <nz-form-label nzFor="industry">Industry</nz-form-label>
                            <nz-form-control nzErrorTip="Please select your industry type!">
                                <nz-select id="plan" nzSize="large" formControlName="industry" nzPlaceHolder="Select"
                                    (ngModelChange)="planChange($event)">
                                    <nz-option nzValue="fashion" nzLabel="Fashion"></nz-option>
                                    <nz-option nzValue="oil&gas" nzLabel="Oil & Gas"></nz-option>
                                    <nz-option nzValue="realEstate" nzLabel="Real Estate"></nz-option>
                                    <nz-option nzValue="tell&communication" nzLabel="Tell & Communication"></nz-option>
                                    <nz-option nzValue="itIndustries" nzLabel="IT Industries"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>


                        <!-- acknowledge -->
                        <nz-form-item>
                            <label nz-checkbox> I acknowledge that I have read and hereby accept the terms and
                                conditions in
                                verificio and its <span class="ackTxt">third party partners, Terms of Use, and Privacy
                                    Policy.</span></label>
                        </nz-form-item>

                        <!-- button -->
                        <!-- <nz-form-item nz-row style="margin-bottom:5px" [nzGutter]="8">
                            <nz-form-control>
                                <button nz-button nzType="primary" nzBlock class="btn">Create Account</button>
                            </nz-form-control>
                        </nz-form-item> -->
                    </form>

                </div>

                <div class="steps-action-1" *ngIf="activedStep === 0">
                    <!-- <button nz-button class="backBtn" nzType="primary" (click)="pre()" *ngIf="activedStep > 0">
                        <span>Previous</span>
                    </button> -->
                    <button nz-button class="nxtBtn" nzType="primary" (click)="next()" *ngIf="activedStep < 1">
                        <span>Next</span>
                    </button>
                    <!-- <button nz-button class="nxtBtn" nzType="primary" (click)="done()" *ngIf="activedStep === 1">
                        <span>Done</span>
                    </button> -->
                </div>

                <div class="steps-action-2" *ngIf="activedStep === 1">
                    <button nz-button class="backBtn" nzType="primary" (click)="pre()" *ngIf="activedStep > 0">
                        <span>Previous</span>
                    </button>
                    <button nz-button class="nxtBtn" nzType="primary" (click)="done()" *ngIf="activedStep === 1">
                        <span>Done</span>
                    </button>
                </div>

                <br>
                <div style="text-align:center" *ngIf="activedStep === 0">
                    Already have an account? <a class="signIn" (click)="onLogin()">Sign In</a>
                </div>
            </nz-card>

            <nz-modal [nzWidth]="379" [(nzVisible)]="isModalVisible" [nzClosable]="false" [nzFooter]=null>
                <ng-container *nzModalContent>
                    <h3 class="modalTitle">Comfirm Token</h3>
                    <p class="modalSubTitle">This code will expire in 15 minutes. Check your email</p>

                    <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 20px;">
                        <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:4}"></ng-otp-input>
                    </div>

                    <div style="display: flex; align-items: center; justify-content: center;">
                        <button nz-button class="modalDoneBtn" nzType="primary" (click)="onOtpDone()">
                            <span>Done</span>
                        </button>
                    </div>
                </ng-container>
            </nz-modal>

            <nz-modal [nzWidth]="379" [(nzVisible)]="isSuccessModalVisible" [nzClosable]="false" [nzFooter]=null>
                <ng-container *nzModalContent>
                    <div>
                        <p class="txt1">SUCCESS</p>
                    </div>


                    <div
                        style="display: flex; flex-direction: column;align-items: center; justify-content: center; margin-bottom: 20px;">
                        <p class="txt2">Thank you for your registration</p>
                        <p class="txt3">you can now login to proceed</p>
                    </div>

                    <div style="display: flex; align-items: center; justify-content: center;">
                        <button nz-button class="modalDoneBtn" nzType="primary" (click)="onLogin()">
                            <span>Log In</span>
                        </button>
                    </div>
                </ng-container>
            </nz-modal>
        </div>
    </div>
</div>