<div class="companyContainer">
    <nz-breadcrumb>
        <nz-breadcrumb-item>
            <a [routerLink]="['/admin/dashboard']">
                <i nz-icon nzType="arrow-left" nzTheme="outline"></i> Go back
            </a>
        </nz-breadcrumb-item>
    </nz-breadcrumb>

    <div class="title">Companies</div>

    <div class="companyList dashboardTable">
        <nz-tabset>
            <nz-tab nzTitle="Active">
                <nz-table #rowSelectionTable nzShowSizeChanger [nzFrontPagination]="false" [nzLoading]="isActiveLoading"
                    [nzTotal]="totalActiveCompanies" [nzData]="allActiveCompaniesTable"
                    (nzPageIndexChange)="onPageIndexChange($event)" (nzPageSizeChange)="pageSizeChanged($event)">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Subscribed Plan</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of rowSelectionTable.data">
                            <td>{{ data.name }}</td>
                            <td>{{ data.email || "-" }}</td>
                            <td>{{ data.subscribedPlan || "-" }}</td>
                            <td>{{ data.status || "-"}}</td>
                            <td>
                                <button nz-button nzSize="large" nz-dropdown [nzDropdownMenu]="menu4">
                                    Actions
                                    <i nz-icon nzType="down"></i>
                                </button>
                                <nz-dropdown-menu #menu4="nzDropdownMenu">
                                    <ul nz-menu>
                                        <li nz-menu-item (click)="onBulkAction('view', data._id)">View</li>
                                        <li nz-menu-item (click)="onBulkAction('sendMail', data._id)">Send Mail</li>
                                        <li nz-menu-item (click)="onBulkAction('suspend', data._id)">Suspend</li>
                                    </ul>
                                </nz-dropdown-menu>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-tab>
            <nz-tab nzTitle="Suspended">
                <nz-table #suspendedTable nzShowPagination nzShowSizeChanger [nzData]="allSuspendedCompaniesTable"
                    (nzPageIndexChange)="onPageIndexChangeForSuper($event)"
                    (nzPageSizeChange)="pageSizeChangedForSuper($event)">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Subscribed Plan</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of suspendedTable.data">
                            <td>{{ data.name }}</td>
                            <td>{{ data.email || '-' }}</td>
                            <td>{{ data.subscribedPlan || '-' }}</td>
                            <td>{{ data.status || '-' }}</td>
                            <td>
                                <button nz-button nzSize="large" nz-dropdown [nzDropdownMenu]="menu4">
                                    Actions
                                    <i nz-icon nzType="down"></i>
                                </button>
                                <nz-dropdown-menu #menu4="nzDropdownMenu">
                                    <ul nz-menu>
                                        <li nz-menu-item (click)="onBulkAction('view', data._id)">View</li>
                                        <li nz-menu-item (click)="onBulkAction('sendMail', data._id)">Send Mail</li>
                                        <li nz-menu-item (click)="onBulkAction('unsuspend', data._id)">Unsuspend</li>
                                    </ul>
                                </nz-dropdown-menu>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-tab>
        </nz-tabset>
    </div>

    <nz-modal [(nzVisible)]="isVisible" nzTitle="Suspend Company" (nzOnCancel)="handleCancel()" [nzFooter]="null">
        <ng-container *nzModalContent>
            <form nz-form nzLayout="vertical" [formGroup]="suspenstionForm">
                <nz-form-item>
                    <nz-form-label [nzSpan]="null" nzFor="reasons">Reason for suspension</nz-form-label>
                    <nz-form-control [nzSpan]="null">
                        <nz-input-group nzSize="large">
                            <input type="text" nz-input formControlName="reasons" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="null" nzFor="liftSuspension">What to do to lift the suspension
                    </nz-form-label>
                    <textarea nzSize="large" nz-input formControlName="liftSuspension" placeholder="Start typing"
                        [nzAutosize]="{ minRows: 3, maxRows: 10 }"></textarea>
                </nz-form-item>
                <nz-form-item style="display: flex; align-items: flex-end;">
                    <nz-form-item>
                        <button nz-button class="modalDoneBtn" nzType="primary" (click)="handleSuspend()">
                            <span>Submit</span>
                        </button>
                    </nz-form-item>
                </nz-form-item>
            </form>
        </ng-container>
    </nz-modal>
</div>