.settingContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .title {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        color: #333333;

        margin: 10px 0px;
    }

    .btnDiv {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 10px;

        .btn {
            min-height: 40px;
            background: #29B475;
            border-radius: 5px;
            border: #29B475;
        }
    }

   
    .profileImg {
        max-width: 40px;
        max-height: 40px;
        border-radius: 50%;
        margin-right: 5px;

        border: 1px solid black;
    }
}

.btn {
    min-height: 40px;
    background: #29B475;
    border-radius: 5px;
    border: #29B475;
    padding: 10px 20px;
}

