<div class="settingContainer">
    <nz-breadcrumb>
        <nz-breadcrumb-item>
            <a [routerLink]="['/app/dashboard']">
                <i nz-icon nzType="arrow-left" nzTheme="outline"></i> Go back
            </a>
        </nz-breadcrumb-item>
    </nz-breadcrumb>

    <div class="title">All Staff</div>

    <div class="btnDiv">
        <button nz-button nzType="primary" class="btn" *ngIf="authenticatedUser.hasCompanyPermission('create_user')"
            (click)="onAddNew()">Add New</button>
    </div>

    <div style="width: 100%; display: flex; align-items: center; justify-content: end;">
        <div>
            <nz-input-group [nzSuffix]="suffixIconSearch" class="searchInput">
                <input type="text" nz-input placeholder="input search text" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
            </ng-template>
        </div>
    </div>


    <div style="width: 100%; margin-top: 20px;">
        <nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="tableData"
            (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Designation</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of rowSelectionTable.data">
                    <td>
                        <nz-avatar nzIcon="user" [nzSrc]="'http://54.157.195.180/' + data.profilePicture"
                            style="margin-right: 5px;"></nz-avatar>
                        {{ data.firstName}} {{ data.lastName }}
                    </td>
                    <td>{{ data.email }}</td>
                    <td>{{ data.designation }}</td>

                    <td>
                        <form nz-form nzLayout="inline" [formGroup]="bulkActionForm">
                            <!-- Bulk Action -->
                            <nz-form-item>
                                <nz-select formControlName="action" nzPlaceHolder="Actions" nzSize="large"
                                    (ngModelChange)="changeAction($event, data._id)">
                                    <nz-option nzValue="view" nzLabel="View"
                                        *ngIf="authenticatedUser.hasCompanyPermission('view_user')"></nz-option>
                                    <nz-option nzValue="edit" nzLabel="Edit"
                                        *ngIf="authenticatedUser.hasCompanyPermission('edit_user')"></nz-option>
                                    <nz-option nzValue="delete" nzLabel="Deactivate"
                                        *ngIf="authenticatedUser.hasCompanyPermission('delete_user')"></nz-option>
                                </nz-select>
                            </nz-form-item>
                        </form>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>


    <nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" [nzFooter]=null>
        <ng-container *nzModalContent>
            <form nz-form nzLayout="vertical" [formGroup]="newEmployeeForm">
                <!-- First Name -->
                <nz-form-item>
                    <nz-form-label [nzSpan]="null" nzFor="firstName">First Name</nz-form-label>
                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid first name.">
                        <nz-input-group nzSize="large">
                            <input type="text" nz-input nzSize="large" formControlName="firstName"
                                placeholder="Enter your first name" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>

                <!-- Last Name -->
                <nz-form-item>
                    <nz-form-label [nzSpan]="null" nzFor="lastName">Last Name</nz-form-label>
                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid last name.">
                        <nz-input-group nzSize="large">
                            <input type="text" nz-input nzSize="large" formControlName="lastName"
                                placeholder="Enter your last name" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>

                <!-- Designation -->
                <nz-form-item>
                    <nz-form-label [nzSpan]="null" nzFor="designation">Designation</nz-form-label>
                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid designation.">
                        <nz-input-group nzSize="large">
                            <input type="text" nz-input nzSize="large" formControlName="designation"
                                placeholder="Enter your designation" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>

                <!-- Email -->
                <nz-form-item>
                    <nz-form-label [nzSpan]="null" nzFor="email">Email address</nz-form-label>
                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid email.">
                        <nz-input-group nzSize="large">
                            <input type="text" nz-input nzSize="large" formControlName="email"
                                placeholder="Enter your email" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>

                <!-- Role -->
                <nz-form-item>
                    <nz-form-label [nzSpan]="null" nzFor="role">Select Role</nz-form-label>
                    <nz-select formControlName="role" nzPlaceHolder="Select role">
                        <nz-option nzValue="company-owner" nzLabel="Admin"></nz-option>
                        <nz-option nzValue="company-employee" nzLabel="Employee"></nz-option>
                    </nz-select>
                </nz-form-item>

                <!-- Permission -->
                <nz-form-item *ngIf="newEmployeeForm.value.role == 'employee'">
                    <nz-form-label [nzSpan]="null" nzFor="permission">Select Permission</nz-form-label>
                    <nz-checkbox-group formControlName="permission"></nz-checkbox-group>
                </nz-form-item>

                <nz-form-item>
                    <button nz-button nzType="primary" [disabled]="!newEmployeeForm.valid" class="btn"
                        style="width: min-content;" (click)="onAddNewUser()">
                        {{ isEdit == true ? 'Edit User' : 'Add User' }}</button>
                </nz-form-item>
            </form>
        </ng-container>
    </nz-modal>
</div>