<div class="settingContainer">
    <nz-breadcrumb>
        <nz-breadcrumb-item>
            <a [routerLink]="['/app/dashboard']">
                <i nz-icon nzType="arrow-left" nzTheme="outline"></i> Go back
            </a>
        </nz-breadcrumb-item>
    </nz-breadcrumb>

    <div class="title">All Staff</div>

    <div class="btnDiv" *ngIf="authenticatedUser.hasCompanyPermission('create_user')">

        <nz-button-group nzSize="large">
            <button nzType="primary" nz-button (click)="onAddNew()">Add New User</button>
            <button nzType="primary" nz-button nzSize="large" nz-dropdown [nzDropdownMenu]="menu1"
                nzPlacement="bottomRight">
                <i nz-icon nzType="ellipsis"></i>
            </button>
        </nz-button-group>


        <nz-dropdown-menu #menu1="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item (click)="openImportCSVModal()">Import From CSV</li>
            </ul>
        </nz-dropdown-menu>
        <!-- <button nz-button nzSize="large" nzType="primary" *ngIf="authenticatedUser.hasCompanyPermission('create_user')"
            (click)="onAddNew()">Add New User</button> -->
    </div>

    <div style="width: 100%; display: flex; align-items: center; justify-content: end;">
        <div>
            <nz-input-group [nzPrefix]="suffixIconSearch" nzSize="large" class="searchInput">
                <input type="text" nzSize="large" nz-input placeholder="Search" [(ngModel)]="searchTetx"
                    (ngModelChange)="onSearch($event)" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <i nz-icon nzSize="large" nzType="search"></i>
            </ng-template>
        </div>
    </div>


    <div style="width: 100%; margin-top: 20px; background-color: white; border-radius: 10px; " class="staffList">
        <nz-tabset>
            <nz-tab nzTitle="Admin">
                <nz-table #adminTableData nzShowPagination nzShowSizeChanger [nzData]="allAdminData">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Designation</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of adminTableData.data">
                            <td>
                                <nz-avatar nzIcon="user" [nzSrc]="'http://54.157.195.180/' + data.profilePicture"
                                    style="margin-right: 5px;"></nz-avatar>
                                {{ data.firstName}} {{ data.lastName }}
                            </td>
                            <td>{{ data.email }}
                            </td>
                            <td>{{ data.designation }}</td>
                            <td>
                                <button nz-button nzSize="large" nz-dropdown [nzDropdownMenu]="menu4">
                                    Actions
                                    <i nz-icon nzType="down"></i>
                                </button>
                                <nz-dropdown-menu #menu4="nzDropdownMenu">
                                    <ul nz-menu>
                                        <li nz-menu-item *ngIf="authenticatedUser.hasCompanyPermission('edit_user')"
                                            (click)="changeAction('edit', data._id)">Edit</li>
                                        <li nz-menu-item *ngIf="authenticatedUser.hasCompanyPermission('delete_user')"
                                            (click)="changeAction('delete', data._id)">Deactivate</li>
                                    </ul>
                                </nz-dropdown-menu>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-tab>
            <nz-tab nzTitle="Employees">
                <nz-table #employeeTable nzShowPagination nzShowSizeChanger [nzData]="allEmployeeData">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Designation</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of employeeTable.data">
                            <td>
                                <nz-avatar nzIcon="user" [nzSrc]="'http://54.157.195.180/' + data.profilePicture"
                                    style="margin-right: 5px;"></nz-avatar>
                                {{ data.firstName}} {{ data.lastName }}
                            </td>
                            <td>{{ data.email }}</td>
                            <td>{{ data.designation }}</td>

                            <td>
                                <button nz-button nzSize="large" nz-dropdown [nzDropdownMenu]="menu4">
                                    Actions
                                    <i nz-icon nzType="down"></i>
                                </button>
                                <nz-dropdown-menu #menu4="nzDropdownMenu">
                                    <ul nz-menu>
                                        <li nz-menu-item *ngIf="authenticatedUser.hasCompanyPermission('edit_user')"
                                            (click)="changeAction('edit', data._id)">Edit</li>
                                        <li nz-menu-item *ngIf="authenticatedUser.hasCompanyPermission('delete_user')"
                                            (click)="changeAction('delete', data._id)">Deactivate</li>
                                    </ul>
                                </nz-dropdown-menu>

                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-tab>
            <nz-tab nzTitle="Archived">
                <nz-table #archiveTable nzShowPagination nzShowSizeChanger [nzData]="allArchiveData">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Designation</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of archiveTable.data">
                            <td>
                                <nz-avatar nzIcon="user" [nzSrc]="'http://54.157.195.180/' + data.profilePicture"
                                    style="margin-right: 5px;"></nz-avatar>
                                {{ data.firstName}} {{ data.lastName }}
                            </td>
                            <td>{{ data.email }}</td>
                            <td>{{ data.designation }}</td>

                            <td>

                                <button nz-button nzSize="large" nz-dropdown [nzDropdownMenu]="menu4">
                                    Actions
                                    <i nz-icon nzType="down"></i>
                                </button>
                                <nz-dropdown-menu #menu4="nzDropdownMenu">
                                    <ul nz-menu>
                                        <li nz-menu-item *ngIf="authenticatedUser.hasCompanyPermission('edit_user')"
                                            (click)="changeAction('edit', data._id)">Edit</li>
                                        <li nz-menu-item *ngIf="authenticatedUser.hasCompanyPermission('delete_user')"
                                            (click)="changeAction('activate', data._id)">Activate</li>
                                    </ul>
                                </nz-dropdown-menu>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-tab>
        </nz-tabset>
    </div>


    <nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" [nzFooter]=null>
        <ng-container *nzModalContent>
            <form nz-form nzLayout="vertical" [formGroup]="newEmployeeForm">
                <!-- First Name -->
                <nz-form-item>
                    <nz-form-label [nzSpan]="null" nzFor="firstName">First Name</nz-form-label>
                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid first name.">
                        <nz-input-group nzSize="large">
                            <input type="text" nz-input nzSize="large" formControlName="firstName"
                                placeholder="Enter your first name" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>

                <!-- Last Name -->
                <nz-form-item>
                    <nz-form-label [nzSpan]="null" nzFor="lastName">Last Name</nz-form-label>
                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid last name.">
                        <nz-input-group nzSize="large">
                            <input type="text" nz-input nzSize="large" formControlName="lastName"
                                placeholder="Enter your last name" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>

                <!-- Designation -->
                <nz-form-item>
                    <nz-form-label [nzSpan]="null" nzFor="designation">Designation</nz-form-label>
                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid designation.">
                        <nz-input-group nzSize="large">
                            <input type="text" nz-input nzSize="large" formControlName="designation"
                                placeholder="Enter your designation" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>

                <!-- Email -->
                <nz-form-item>
                    <nz-form-label [nzSpan]="null" nzFor="email">Email Address</nz-form-label>
                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid email.">
                        <nz-input-group nzSize="large">
                            <input type="text" nz-input nzSize="large" formControlName="email"
                                placeholder="Enter your email" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>

                <div [hidden]="isEdit==true && this.editId==authenticatedUser._id">
                    <!-- Role -->
                    <nz-form-item>
                        <nz-form-label [nzSpan]="null" nzFor="role">Select Role</nz-form-label>
                        <nz-select formControlName="role" nzSize="large" nzPlaceHolder="Select role">
                            <nz-option nzValue="company-owner" nzLabel="Admin"></nz-option>
                            <nz-option nzValue="company-employee" nzLabel="Employee"></nz-option>
                        </nz-select>
                    </nz-form-item>

                    <!-- Permission -->
                    <nz-form-item *ngIf="newEmployeeForm.value.role == 'company-employee'">
                        <nz-form-label [nzSpan]="null" nzFor="permission">Select Permission</nz-form-label>
                        <nz-checkbox-group formControlName="permission"></nz-checkbox-group>
                    </nz-form-item>
                </div>

                <nz-form-item>
                    <button nz-button nzType="primary" [disabled]="!newEmployeeForm.valid" nzSize="large"
                        (click)="onAddNewUser()">
                        Save</button>
                </nz-form-item>
            </form>
        </ng-container>
    </nz-modal>
</div>