<div class="adminDashboardContainer">
    <nz-breadcrumb>
        <nz-breadcrumb-item>
            <a [routerLink]="['/app/dashboard']">
                <i nz-icon nzType="arrow-left" nzTheme="outline"></i> Go back
            </a>
        </nz-breadcrumb-item>
    </nz-breadcrumb>

    <div class="title">Reports</div>

    <div class="btnDiv">
        <button nz-button nzType="primary" class="btn" *ngIf="authenticatedUser.hasCompanyPermission('create_report')"
            (click)="onAddNew()">Add New</button>
    </div>

    <div class="dashboardCards">
        <div style="display: flex; align-items: center">
            <div class="cardCol1"></div>
            <nz-card style="width:316px; height: 142px; border-radius: 10px;" [nzBordered]="false">
                <div nz-row>
                    <div nz-col nzSpan="16">
                        <div class="infoDivForCol1">
                            <span class="counter">100</span>
                            <span class="counterInfo">All Reports</span>
                        </div>
                    </div>
                    <div nz-col nzSpan="8" class="card1Col2">
                        <div class="imgDiv"></div>
                    </div>
                </div>
            </nz-card>
        </div>

        <div style="display: flex; align-items: center">
            <div class="cardCol2"></div>
            <nz-card style="width:316px; height: 142px; border-radius: 10px;" [nzBordered]="false">
                <div nz-row style="height: 100px;">
                    <div nz-col nzSpan="16">
                        <div class="infoDivForCol1">
                            <span class="counter">20</span>
                            <span class="counterInfo">Rejected</span>
                        </div>
                    </div>
                    <div nz-col nzSpan="8" class="card2Col2">
                        <div class="imgDiv"></div>
                    </div>
                </div>
            </nz-card>
        </div>

        <div style="display: flex; align-items: center">
            <div class="cardCol3"></div>
            <nz-card style="width:316px; height: 142px; border-radius: 10px;" [nzBordered]="false">
                <div nz-row style="height: 100px;">
                    <div nz-col nzSpan="16">
                        <div class="infoDivForCol1">
                            <span class="counter">20</span>
                            <span class="counterInfo">Pending</span>
                        </div>
                    </div>
                    <div nz-col nzSpan="8" class="card3Col2">
                        <div class="imgDiv"></div>
                    </div>
                </div>
            </nz-card>
        </div>


    </div>


    <app-list-report *ngIf="authenticatedUser.hasCompanyPermission('manage_report')"></app-list-report>
</div>