<div nz-row class="rowStyle">
  <div nz-col nzSpan="12" style="text-align: left;">
      <!-- <button nz-button nzType="text">Change image</button> -->
      <div style="display: flex; flex-direction: column">


              <nz-avatar nzIcon="user" [nzSize]="90" [nzSrc]="profileImagePath"></nz-avatar>
            
      </div>
  </div>
  
</div>

<form
  nz-form
  nzLayout="vertical"
  [formGroup]="profileForm"
  style="margin-top: 10px"
>
  <!-- First Name & Last Name-->
  <div nz-row class="rowStyle" style="border-bottom: 1px solid #d4e1e8">
    <div nz-col nzSpan="12" style="text-align: left">
      <nz-form-item style="margin: 0 0 2px">
        <nz-form-label [nzSpan]="null" nzFor="firstName" style="padding: 0px"
          >First Name
        </nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid name.">
          <nz-input-group nzSize="large">
            <input
              type="text"
              nz-input
              nzBorderless
              formControlName="firstName"
              placeholder="Enter your first name"
              style="padding: 6.5px 0px"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="12">
      <nz-form-item style="margin: 0 0 2px">
        <nz-form-label [nzSpan]="null" nzFor="lastName" style="padding: 0px"
          >Last Name
        </nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid name.">
          <nz-input-group nzSize="large">
            <input
              type="text"
              nz-input
              nzBorderless
              formControlName="lastName"
              placeholder="Enter your last name"
              style="padding: 6.5px 0px"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!-- Email & Phone-->
  <div
    nz-row
    class="rowStyle"
    style="border-bottom: 1px solid #d4e1e8; margin-top: 20px"
  >
    <div nz-col nzSpan="12" style="text-align: left">
      <nz-form-item style="margin: 0 0 2px">
        <nz-form-label [nzSpan]="null" nzFor="email" style="padding: 0px"
          >Email Address
        </nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid email.">
          <nz-input-group nzSize="large">
            <input
              type="text"
              nz-input
              nzBorderless
              formControlName="email"
              placeholder="Enter your email address"
              style="padding: 6.5px 0px"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="12" style="text-align: right">
      <nz-form-item style="margin: 0 0 2px">
        <nz-form-label [nzSpan]="null" nzFor="phone" style="padding: 0px"
          >Phone Number
        </nz-form-label>
        <nz-form-control nzErrorTip="Please enter your phone number!">
          <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" nzSize="large">
            <input
              formControlName="phone"
              placeholder="Enter phone number"
              nzBorderless
              id="phoneNumber"
              nz-input
              nzSize="large"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <ng-template #addOnBeforeTemplate>
        <nz-select
          nzPlaceholder="Country Code"
          nzPlaceHolder="code"
          formControlName="phoneNumberPrefix"
          nzBorderless
        >
          <nz-option nzLabel="+91" nzValue="+91"></nz-option>
          <nz-option nzLabel="+86" nzValue="+86"></nz-option>
          <nz-option nzLabel="+87" nzValue="+87"></nz-option>
        </nz-select>
      </ng-template>
    </div>
  </div>

  <!-- address -->
  <div
    nz-row
    class="rowStyle"
    style="border-bottom: 1px solid #d4e1e8; margin-top: 20px"
  >
    <div nz-col nzSpan="24" style="text-align: left">
      <nz-form-item style="margin: 0 0 2px">
        <nz-form-label [nzSpan]="null" nzFor="address" style="padding: 0px"
          >House Address
        </nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid address.">
          <nz-input-group nzSize="large">
            <input
              type="text"
              nz-input
              nzBorderless
              formControlName="address"
              placeholder="Enter your house address"
              style="padding: 6.5px 0px"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!-- State -->
  <div
    nz-row
    class="rowStyle"
    style="border-bottom: 1px solid #d4e1e8; margin-top: 20px"
  >
    <div nz-col nzSpan="8" style="text-align: left">
      <nz-form-item style="margin: 0 0 2px">
        <nz-form-label [nzSpan]="null" nzFor="state" style="padding: 0px"
          >State
        </nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid state.">
          <nz-input-group nzSize="large">
            <input
              type="text"
              nz-input
              nzBorderless
              formControlName="state"
              placeholder="State"
              style="padding: 6.5px 0px"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="8" style="text-align: left">
      <nz-form-item style="margin: 0 0 2px">
        <nz-form-label
          [nzSpan]="null"
          nzFor="stateOfOrigin"
          style="text-align: left; padding: 0px"
          >State of Origin
        </nz-form-label>
        <nz-form-control
          [nzSpan]="null"
          nzErrorTip="Enter valid state of origin."
        >
          <nz-input-group nzSize="large">
            <input
              type="text"
              nz-input
              nzBorderless
              formControlName="stateOfOrigin"
              placeholder="State of origin"
              style="padding: 6.5px 0px"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="8" style="text-align: left">
      <nz-form-item style="margin: 0 0 2px">
        <nz-form-label
          [nzSpan]="null"
          nzFor="lga"
          style="text-align: left; padding: 0px"
        >
          LGA
        </nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid lgs.">
          <nz-input-group nzSize="large">
            <input
              type="text"
              nz-input
              nzBorderless
              formControlName="lga"
              placeholder="LGA"
              style="padding: 6.5px 0px"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!-- Dob & Gender-->
  <div
    nz-row
    class="rowStyle"
    style="border-bottom: 1px solid #d4e1e8; margin-top: 20px"
  >
    <div nz-col nzSpan="12" style="text-align: left">
      <nz-form-item style="margin: 0 0 2px">
        <nz-form-label [nzSpan]="null" nzFor="dateOfBirth" style="padding: 0px"
          >Date of Birth</nz-form-label
        >
        <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid date.">
          <nz-input-group nzSize="large">
            <nz-date-picker
              nzSize="large"
              [nzFormat]="'dd-MMM-yyyy'"
              formControlName="dateOfBirth"
              nzBorderless
            ></nz-date-picker>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="12">
      <nz-form-item style="margin: 0 0 2px">
        <nz-form-label [nzSpan]="null" nzFor="gender" style="padding: 0px"
          >Gender
        </nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid gender.">
          <nz-input-group nzSize="large">
            <nz-select
              nzSize="large"
              formControlName="gender"
              nzPlaceHolder="Gender"
              nzBorderless
            >
              <nz-option nzLabel="Male" nzValue="Male"></nz-option>
              <nz-option nzLabel="Female" nzValue="Female"></nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div
    nz-row
    class="rowStyle"
    style="margin-top: 20px; "
  >
        <button
        (click)="changeApprovalStatus(true)"
          type="button"
          nz-button
          nzType="primary"
          nzSize="large"
        >
          Approve
        </button>

        <div style="min-width: 15px"></div>

        <button
          type="button"
          (click)="changeApprovalStatus(false)"
          nz-button
          nzType="default"
          nzSize="large"
        >
          Reject
        </button>
  </div>
</form>
