<div class="userProfileContainer">
    <nz-breadcrumb>
        <nz-breadcrumb-item>
            <a [routerLink]="['/app/search']">
                <i nz-icon nzType="arrow-left" nzTheme="outline"></i> Go back
            </a>
        </nz-breadcrumb-item>
    </nz-breadcrumb>

    <div class="title">User Profile</div>

    <div class="profileDiv">
        <div nz-col nzSpan="24" style="text-align: center; margin-bottom: 20px;">
            <nz-avatar nzIcon="user" [nzSize]="90" [nzSrc]="profileImagePath"></nz-avatar>
        </div>

        <form nz-form nzLayout="vertical" [formGroup]="profileForm" style="margin-top: 10px;">
            <!-- First Name & Last Name-->
            <div nz-row class="rowStyle" style="border-bottom: 1px solid D4E1E8">
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                    <nz-form-item style="margin: 0 0 2px">
                        <nz-form-label [nzSpan]="null" nzFor="firstName" style="padding: 0px;">First Name
                        </nz-form-label>
                        <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid name.">
                            <nz-input-group nzSize="large">
                                <input type="text" nz-input nzBorderless formControlName="firstName"
                                    placeholder="Enter your first name" style="padding: 6.5px 0px" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                    <nz-form-item style="margin: 0 0 2px">
                        <nz-form-label [nzSpan]="null" nzFor="lastName" style=" padding: 0px;">Last Name
                        </nz-form-label>
                        <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid name.">
                            <nz-input-group nzSize="large">
                                <input type="text" nz-input nzBorderless formControlName="lastName"
                                    placeholder="Enter your last name" style="padding: 6.5px 0px" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>


            <!-- Email & Phone-->
            <div nz-row class="rowStyle" style="border-bottom: 1px solid #D4E1E8; margin-top: 20px;">
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                    <nz-form-item style="margin: 0 0 2px">
                        <nz-form-label [nzSpan]="null" nzFor="email" style="padding: 0px;">Email
                        </nz-form-label>
                        <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid email.">
                            <nz-input-group nzSize="large">
                                <input type="text" nz-input nzBorderless formControlName="email"
                                    placeholder="Enter your email address" style="padding: 6.5px 0px" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: right;">
                    <nz-form-item style="margin: 0 0 2px">
                        <nz-form-label [nzSpan]="null" nzFor="phone" style="padding: 0px;">Phone Number
                        </nz-form-label>
                        <nz-form-control nzErrorTip="Please enter your phone number!">
                            <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" nzSize="large">
                                <input formControlName="phone" placeholder="Enter phone number" nzBorderless
                                    id="phoneNumber" nz-input nzSize="large" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <ng-template #addOnBeforeTemplate>
                        <nz-select nzShowSearch class="phoneDropdown" nzPlaceHolder="Dial Code"
                            formControlName="phoneNumberPrefix" nzBorderless>
                            <nz-option *ngFor="let country of countryList" [nzLabel]="country.dial_code"
                                [nzValue]="country.dial_code"></nz-option>
                        </nz-select>
                    </ng-template>
                </div>
            </div>

            <!-- address -->
            <div nz-row class="rowStyle" style="border-bottom: 1px solid #D4E1E8; margin-top: 20px;">
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                    <nz-form-item style="margin: 0 0 2px">
                        <nz-form-label [nzSpan]="null" nzFor="address" style="padding: 0px;">House Address
                        </nz-form-label>
                        <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid address.">
                            <nz-input-group nzSize="large">
                                <input type="text" nz-input nzBorderless formControlName="address"
                                    placeholder="Enter your house address" style="padding: 6.5px 0px" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>


            <!-- State -->
            <div nz-row class="rowStyle" style="border-bottom: 1px solid #D4E1E8; margin-top: 20px;">
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                    <nz-form-item style="margin: 0 0 2px">
                        <nz-form-label [nzSpan]="null" nzFor="state" style="padding: 0px;">State
                        </nz-form-label>
                        <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid state.">
                            <nz-input-group nzSize="large">
                                <input type="text" nz-input nzBorderless formControlName="state" placeholder="State"
                                    style="padding: 6.5px 0px" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                    <nz-form-item style="margin: 0 0 2px">
                        <nz-form-label [nzSpan]="null" nzFor="stateOfOrigin" style="text-align: left; padding: 0px;">
                            State Of Origin
                        </nz-form-label>
                        <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid lgs.">
                            <nz-input-group nzSize="large">
                                <input type="text" nz-input nzBorderless formControlName="stateOfOrigin"
                                    placeholder="State Of Origin" style="padding: 6.5px 0px" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                    <nz-form-item style="margin: 0 0 2px">
                        <nz-form-label [nzSpan]="null" nzFor="lga" style="text-align: left; padding: 0px;">
                            LGA
                        </nz-form-label>
                        <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid lgs.">
                            <nz-input-group nzSize="large">
                                <input type="text" nz-input nzBorderless formControlName="lga" placeholder="LGA"
                                    style="padding: 6.5px 0px" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <!-- Dob & Gender-->
            <div nz-row class="rowStyle" style="border-bottom: 1px solid #D4E1E8; margin-top: 20px;">
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                    <nz-form-item style="margin: 0 0 2px">
                        <nz-form-label [nzSpan]="null" nzFor="dateOfBirth" style="padding: 0px;">Date of
                            Birth</nz-form-label>
                        <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid date.">
                            <nz-input-group nzSize="large">
                                <nz-date-picker nzSize="large" [nzFormat]="'dd-MMM-yyyy'" formControlName="dateOfBirth"
                                    nzBorderless></nz-date-picker>
                                <!-- <input type="text" nz-input nzBorderless formControlName="dateOfBirth"
                                    placeholder="Enter your email address" style="padding: 6.5px 0px" /> -->
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                    <nz-form-item style="margin: 0 0 2px">
                        <nz-form-label [nzSpan]="null" nzFor="gender" style="padding: 0px;">Gender
                        </nz-form-label>
                        <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid gender.">
                            <nz-input-group nzSize="large">
                                <nz-select nzSize="large" formControlName="gender" nzPlaceHolder="Gender" nzBorderless>

                                    <nz-option nzLabel="Male" nzValue="Male"></nz-option>
                                    <nz-option nzLabel="Female" nzValue="Female"></nz-option>
                                </nz-select>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>


        <div *ngIf="companyList.length > 0">
            <div *ngFor="let item of companyList">
                <nz-descriptions nzTitle="Work Experience" nzLayout="vertical"
                    style="margin-top: 10px; border-bottom: 1px solid #c7c7c7;">
                    <nz-descriptions-item nzTitle="Location">{{item.company.address ? item.company.address.state :
                        "-"}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Company Name">{{item.company.name ? item.company.name : "-"}}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Position Title">{{item.designation ? item.designation : "-"}}
                    </nz-descriptions-item>
                </nz-descriptions>
            </div>

        </div>

    </div>
</div>