.successBtn {
    min-height: 40px;
    background: #29B475;
    border-radius: 5px;
    border: #29B475;
    padding: 10px 20px;
}

.errorBtn {
    min-height: 40px;
    background: #DC3545;
    border-radius: 5px;
    border: #DC3545;
    padding: 10px 20px;
}