<nz-layout>
    <nz-sider [nzWidth]="250" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="logo">
            <span class="title"
                style="padding-left:25px; padding-right: 25px; padding-top: 15px; padding-bottom: 50px;">
                <img [src]="isCollapsed? 'assets/logo-small.svg' :'assets/logo.svg'" alt="">
            </span>
        </div>
        <ul nz-menu nzTheme="light" nzMode="inline" style="background: #132574; border: 1px solid #132574; ">
            <li nz-menu-item routerLink="/admin/dashboard" [nzMatchRouter]="true">
                <i nz-icon nzType="bank" style="color: #AEB9DE"></i>
                <span class="menuItem">Dashboard</span>
            </li>

            <li nz-menu-item routerLink="/admin/companies" [nzMatchRouter]="true">
                <!-- <i nz-icon nzType="bank" style="color: #AEB9DE"></i> -->
                <i nz-icon nzType="reconciliation" style="color: #AEB9DE"></i>
                <span class="menuItem">Companies</span>
            </li>

            <li nz-menu-item routerLink="/admin/users" [nzMatchRouter]="true">
                <i nz-icon nzType="user" style="color: #AEB9DE"></i>
                <span class="menuItem">Users</span>
            </li>
            <li nz-menu-item routerLink="/admin/reports" [nzMatchRouter]="true">
                <i nz-icon nzType="book" style="color: #AEB9DE"></i>
                <span class="menuItem">Report Category</span>
            </li>
            <li routerLink="/admin/subscriptions" nz-menu-item [nzMatchRouter]="true">
                <i nz-icon nzType="check-square" style="color: #AEB9DE"></i>
                <span class="menuItem">Subscriptions</span>
            </li>
            <li nz-menu-item routerLink="/admin/settings" [nzMatchRouter]="true">
                <i nz-icon nzType="setting" style="color: #AEB9DE"></i>
                <span class="menuItem">Settings</span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header class="page-header">
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                (click)="isCollapsed = !isCollapsed"></i>

            <div style="display: flex; align-items: center; justify-content: end;">

                <div class="notification-btn" (click)="onNotificationClick()">
                    <i nz-icon nzType="bell" nzSize="large" nz-popover nzPopoverPlacement="bottom"
                        nzPopoverTitle="Notifications" [nzPopoverContent]="contentTemplate" nzTheme="outline"></i>
                </div>

                <ng-template #contentTemplate>
                    <div (click)="handleNotificationClick(notification)" class="notification-container"
                        *ngFor="let notification of notificationList" style="max-width: 400px;">
                        <span>{{notification.message}}</span> <br>
                        <span nz-typography nzType="secondary">{{notification.createdAt | date}}</span>

                    </div>

                    <div *ngIf="notificationList.length==0">
                        <nz-empty></nz-empty>
                    </div>

                </ng-template>

                <div style="display: flex; align-items: center; margin-right: 20px;">
                    <nz-avatar [nzText]="userInitials" style="margin-right: 5px;"></nz-avatar>
                    <span class="username">{{authenticatedUser.firstName}} {{authenticatedUser.lastName}}</span>
                    <button nz-button nzType="text" nz-dropdown [nzDropdownMenu]="menu1" nzPlacement="bottomRight">
                        <i nz-icon nzType="down" nzTheme="outline"></i>
                    </button>
                </div>

                <nz-dropdown-menu #menu1="nzDropdownMenu">
                    <ul nz-menu>
                        <li (click)="onlogout()" nz-menu-item>Logout</li>
                    </ul>
                </nz-dropdown-menu>
                <!-- <i nz-icon nzType="down" nzTheme="outline"></i> -->
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>