.dashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 30px;


    .title {
        display: flex;

        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        color: #333333;
    }

    .dashboardCards {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        margin: 25px 0px;

        .cards {
            flex-grow: 1; // width: 316px;
            height: 142px;
            border-radius: 10px;
        }

        .cardCol1 {
            min-height: 110px;
            border-radius: 5px;
            border-left: 7px solid #FFB03C;
            margin-right: -7px;
            z-index: 1000;
        }

        .infoDivForCol1 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            padding: 10px 15px;

            .counter {
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                color: #3A3A3A;

                margin-bottom: 10px;
            }

            .counterInfo {
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                color: #969696;
            }
        }

        .cardCol2 {
            min-height: 110px;
            border-radius: 5px;
            border-left: 7px solid #806BFF;
            margin-right: -7px;
            z-index: 1000;
        }

        .cardCol3 {
            min-height: 110px;
            border-radius: 5px;
            border-left: 7px solid #589CFF;
            margin-right: -7px;
            z-index: 1000;
        }

        .card1Col2 {
            display: flex;
            justify-content: center;

            margin-top: 10px;

            .imgDiv {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 40px;
                background: #FFB03C;

                border-radius: 50%;
            }
        }

        .card2Col2 {
            display: flex;
            justify-content: center;

            margin-top: 10px;

            .imgDiv {
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #806BFF;

                border-radius: 50%;
            }
        }

        .card3Col2 {
            display: flex;
            justify-content: center;

            margin-top: 10px;

            .imgDiv {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 40px;
                background: #589CFF;

                border-radius: 50%;
            }
        }
    }

    .charts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        margin: 25px 0px;

        background: #FFFFFF;
        border-radius: 10px;
        padding: 15px 30px;

        .chartInfo {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            width: 100%;

            .title {
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
                color: #333333;
            }

            .subTitle {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #6B6B6B;
            }
        }

        #chart {
            width: 1000px;
            margin: 35px auto;
        }
    }
}