<div class="title">Overview</div>

<div class="dashboardCards">
    <nz-card style="width:316px; height: 142px; border-radius: 10px;" [nzBordered]="false">
        <div nz-row style="height: 100px;">
            <div nz-col nzSpan="16" class="cardCol1">
                <div class="infoDivForCol1">
                    <span class="counter">100</span>
                    <span class="counterInfo">All Employees</span>
                </div>
            </div>
            <div nz-col nzSpan="8" class="card1Col2">
                <div class="imgDiv"></div>
            </div>
        </div>
    </nz-card>

    <nz-card style="width:316px; height: 142px; border-radius: 10px;" [nzBordered]="false">
        <div nz-row style="height: 100px;">
            <div nz-col nzSpan="16" class="cardCol2">
                <div class="infoDivForCol1">
                    <span class="counter">20</span>
                    <span class="counterInfo">All Admin</span>
                </div>
            </div>
            <div nz-col nzSpan="8" class="card2Col2">
                <div class="imgDiv"></div>
            </div>
        </div>
    </nz-card>

    <nz-card style="width:316px; height: 142px; border-radius: 10px;" [nzBordered]="false">
        <div nz-row style="height: 100px;">
            <div nz-col nzSpan="16" class="cardCol3">
                <div class="infoDivForCol1">
                    <span class="counter">20</span>
                    <span class="counterInfo">All Report</span>
                </div>
            </div>
            <div nz-col nzSpan="8" class="card3Col2">
                <div class="imgDiv"></div>
            </div>
        </div>
    </nz-card>
</div>