<div class="addSubscriptionContainer">
    <nz-breadcrumb>
        <nz-breadcrumb-item>
            <a [routerLink]="['/admin/subscriptions']">
                <i nz-icon nzType="arrow-left" nzTheme="outline"></i> Go back
            </a>
        </nz-breadcrumb-item>
    </nz-breadcrumb>

    <div class="title">
        <span>{{isEdit ? "Edit Plan" : "Add New Plan"}}</span>
    </div>

    <div class="pInfoContainer" style="margin-top: 10px;">
        <div style="width: 100%;">
            <form nz-form nzLayout="vertical" [formGroup]="subscriptionForm">
                <!-- Plan Name & Sub Header -->
                <div nz-row [nzGutter]="12" style="margin-top: 15px;">
                    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                        <nz-form-item style="margin: 0 0 2px">
                            <nz-form-label [nzSpan]="null" nzFor="name" style="padding: 0px;">Plan Name
                            </nz-form-label>
                            <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid plan name.">
                                <nz-input-group nzSize="large">
                                    <input type="text" nz-input formControlName="name" placeholder="Enter plan name"
                                        style="padding: 6.5px 5px" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                        <nz-form-item style="margin: 0 0 2px">
                            <nz-form-label [nzSpan]="null" nzFor="subHeader" style=" padding: 0px;">Sub Header
                            </nz-form-label>
                            <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid name.">
                                <nz-input-group nzSize="large">
                                    <input type="text" nz-input formControlName="subHeader"
                                        placeholder="Add a sub header" style="padding: 6.5px 5px" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <!-- Plan Price -->
                <div nz-row [nzGutter]="12" style="margin-top: 15px;">
                    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                        <nz-form-item style="margin: 0 0 2px">
                            <nz-form-label [nzSpan]="null" nzFor="basicPlanPriceNGN" style="padding: 0px;">Basic Plan
                                Price(NGN)
                            </nz-form-label>
                            <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid plan price.">
                                <nz-input-group nzSize="large">
                                    <input type="number" nz-input formControlName="basicPlanPriceNGN"
                                        placeholder="Enter basic plan price" style="padding: 6.5px 5px" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                        <nz-form-item style="margin: 0 0 2px">
                            <nz-form-label [nzSpan]="null" nzFor="sellingPlanPriceNGN" style="padding: 0px;">Selling
                                Plan
                                Price(NGN)
                            </nz-form-label>
                            <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid plan price.">
                                <nz-input-group nzSize="large">
                                    <input type="number" nz-input formControlName="sellingPlanPriceNGN"
                                        placeholder="Enter selling plan price" style="padding: 6.5px 5px" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                </div>

                <!-- Plan Price -->
                <div nz-row [nzGutter]="12" style="margin-top: 15px;">
                    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                        <nz-form-item style="margin: 0 0 2px">
                            <nz-form-label [nzSpan]="null" nzFor="basicPlanPriceUSA" style="padding: 0px;">Basic Plan
                                Price(USA)
                            </nz-form-label>
                            <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid plan price.">
                                <nz-input-group nzSize="large">
                                    <input type="number" nz-input formControlName="basicPlanPriceUSA"
                                        placeholder="Enter basic plan price" style="padding: 6.5px 5px" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                        <nz-form-item style="margin: 0 0 2px">
                            <nz-form-label [nzSpan]="null" nzFor="sellingPlanPriceUSA" style="padding: 0px;">Selling
                                Plan
                                Price(USA)
                            </nz-form-label>
                            <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid plan price.">
                                <nz-input-group nzSize="large">
                                    <input type="number" nz-input formControlName="sellingPlanPriceUSA"
                                        placeholder="Enter selling plan price" style="padding: 6.5px 5px" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                </div>

                <!-- Number Of Users -->
                <div nz-row [nzGutter]="12" style="margin-top: 15px;">
                    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                        <nz-form-item style="margin: 0 0 2px">
                            <nz-form-label [nzSpan]="null" nzFor="noOfUser" style=" padding: 0px;">Number of User
                            </nz-form-label>
                            <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid name.">
                                <nz-input-group nzSize="large">
                                    <input type="number" nz-input formControlName="noOfUser"
                                        placeholder="Add a sub header" style="padding: 6.5px 5px" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <!-- Features -->
                <div nz-row [nzGutter]="12" style="margin-top: 15px;">
                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" style="text-align: left;">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="null" nzFor="features">Features to include</nz-form-label>
                            <nz-select nzMode="tags" nzPlaceHolder="Feature Plan" nzSize="large"
                                formControlName="features">
                                <nz-option *ngFor="let option of listOfOption" [nzLabel]="option" [nzValue]="option">
                                </nz-option>

                            </nz-select>
                        </nz-form-item>
                    </div>
                </div>

                <!-- <div nz-row style="margin-top: 15px;">
                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" style="text-align: left;">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="null" nzFor="aboutThePlan">About the plan</nz-form-label>
                            <textarea nzSize="large" nz-input formControlName="aboutThePlan"
                                placeholder="Describe briefly about the plan"
                                [nzAutosize]="{ minRows: 3, maxRows: 10 }"></textarea>
                        </nz-form-item>
                    </div>
                </div> -->

                <nz-form-item>
                    <button nz-button nzType="primary" [disabled]="!subscriptionForm.valid" nzSize="large"
                        (click)="onAddNewPlan()">
                        <span>{{isEdit ? "Edit Plan" : "Create Plan"}}</span>
                    </button>
                </nz-form-item>
            </form>
        </div>
    </div>
</div>