
.ant-card-meta-title {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    font-size: 22px !important;
    font-weight: 700 !important;
}

// .ant-layout-sider {
//     background: #132574 !important;
// }

.ant-checkbox-group-item {
    width: 48% !important;
}

.settingContainer {
    .ant-input-group-addon:first-child {
        border: none !important;
        background-color: inherit;
    }
}

.ant-menu-inline .ant-menu-selected::after, .ant-menu-inline .ant-menu-item-selected::after {
    border-right: none;
}