<div class="settingContainer">
    <nz-breadcrumb>
        <nz-breadcrumb-item>
            <a [routerLink]="['/app/dashboard']">
                <i nz-icon nzType="arrow-left" nzTheme="outline"></i> Go back
            </a>
        </nz-breadcrumb-item>
    </nz-breadcrumb>

    <div class="title">Settings</div>

    <nz-tabset style="width: 90%;">
        <!-- <nz-tab nzTitle="Notifications">
            <div class="listContainer">
                <h3 [ngStyle]="{ 'text-align': 'left','margin-bottom.px': 16 }">Manage Notifications</h3>
                <nz-list nzSize="large">
                    <nz-list-item class="listItem" *ngFor="let notification of notificationList; let i = index">

                        <span class="notificationType">{{ notification.item }}</span>

                        <div>
                            <span class="notificationStatus" *ngIf="notification.status">On</span>
                            <span class="notificationStatus" *ngIf="!notification.status">Off</span>
                            <nz-switch [ngModel]="notification.status" [nzControl]="true" (click)="onSwitchClick(i)">
                            </nz-switch>
                        </div>
                    </nz-list-item>
                </nz-list>
            </div>
        </nz-tab> -->

        <!-- Personal Info -->
        <nz-tab nzTitle="Personal Info">
            <div class="pInfoContainer">
                <h3 [ngStyle]="{ 'text-align': 'left','margin-bottom.px': 16 }">Profile Account</h3>
                <span class="subTitle">Manage your Verificio account. All changes in your account
                    will be applied to all of your workspace.</span>

                <div *ngIf="isChangesPending">
                    <nz-alert nzType="info" nzMessage="Your profile changes are awaiting approval from admin.">
                    </nz-alert>
                </div>
                <br>
                <div style="width: 100%;">
                    <div nz-row class="rowStyle">
                        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                            <!-- <button nz-button nzType="text">Change image</button> -->
                            <div style="display: flex; flex-direction: column">

                                <!-- <img [src]="profileImagePath" alt="profile" class="profileImg" /> -->
                                <nz-upload [nzCustomRequest]="handleUpload" [nzShowUploadList]="false"
                                    [nzBeforeUpload]="beforeUpload">
                                    <nz-avatar nzIcon="user" [nzSize]="90" [nzSrc]="profileImagePath"></nz-avatar>
                                    <!-- <button nz-button nzType="link">Click to Upload</button> -->
                                </nz-upload>
                            </div>
                        </div>
                        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: right;">
                            <button nz-button nzType="link" class="editBtn" style="color: #29B475;"
                                (click)="handleEdit()">
                                <i nz-icon nzType="edit" nzTheme="outline" style="color: #29B475; "></i> Edit
                                Profile</button>
                            <!-- <i nz-icon nzType="edit" nzTheme="outline" style="color: #29B475; margin-right: 7px;"></i>
                            <span class="editBtn">Edit Profile</span> -->
                        </div>
                    </div>

                    <form nz-form nzLayout="vertical" [formGroup]="profileForm" (ngSubmit)="submitProfileForm()"
                        style="margin-top: 10px;">

                        <!-- First Name & Last Name-->
                        <div nz-row class="rowStyle" style="border-bottom: 1px solid #D4E1E8">
                            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                                <nz-form-item style="margin: 0 0 2px">
                                    <nz-form-label [nzSpan]="null" nzFor="firstName" style="padding: 0px;">First Name
                                    </nz-form-label>
                                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid name.">
                                        <nz-input-group nzSize="large">
                                            <input type="text" nz-input nzBorderless formControlName="firstName"
                                                placeholder="Enter your first name" style="padding: 6.5px 0px" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                                <nz-form-item style="margin: 0 0 2px">
                                    <nz-form-label [nzSpan]="null" nzFor="lastName" style=" padding: 0px;">Last Name
                                    </nz-form-label>
                                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid name.">
                                        <nz-input-group nzSize="large">
                                            <input type="text" nz-input nzBorderless formControlName="lastName"
                                                placeholder="Enter your last name" style="padding: 6.5px 0px" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>

                        <!-- Email & Phone-->
                        <div nz-row class="rowStyle" style="border-bottom: 1px solid #D4E1E8; margin-top: 20px;">
                            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                                <nz-form-item style="margin: 0 0 2px">
                                    <nz-form-label [nzSpan]="null" nzFor="email" style="padding: 0px;">Email Address
                                    </nz-form-label>
                                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid email.">
                                        <nz-input-group nzSize="large">
                                            <input type="text" nz-input nzBorderless formControlName="email"
                                                placeholder="Enter your email address" style="padding: 6.5px 0px" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: right;">
                                <nz-form-item style="margin: 0 0 2px">
                                    <nz-form-label [nzSpan]="null" nzFor="phone" style="padding: 0px;">Phone Number
                                    </nz-form-label>
                                    <nz-form-control nzErrorTip="Please enter your phone number!">
                                        <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" nzSize="large">
                                            <input formControlName="phone" placeholder="Enter phone number" nzBorderless
                                                id="phoneNumber" nz-input nzSize="large" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                                <ng-template #addOnBeforeTemplate>
                                    <nz-select nzShowSearch style="min-width: 75px" nzPlaceHolder="Dial Code"
                                        formControlName="phoneNumberPrefix" nzBorderless>
                                        <nz-option *ngFor="let country of countryList" [nzLabel]="country.dial_code"
                                            [nzValue]="country.dial_code"></nz-option>
                                    </nz-select>
                                </ng-template>
                            </div>
                        </div>

                        <!-- address -->
                        <div nz-row style="border-bottom: 1px solid #D4E1E8; margin-top: 20px;">
                            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" style="text-align: left;">
                                <nz-form-item style="margin: 0 0 2px">
                                    <nz-form-label [nzSpan]="null" nzFor="address" style="padding: 0px;">House Address
                                    </nz-form-label>
                                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid address.">
                                        <nz-input-group nzSize="large">
                                            <input type="text" nz-input nzBorderless formControlName="address"
                                                placeholder="Enter your house address" style="padding: 6.5px 0px" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>

                        <!-- State & country -->
                        <div nz-row style="border-bottom: 1px solid #D4E1E8; margin-top: 20px;">
                            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                                <nz-form-item style="margin: 0 0 2px">
                                    <nz-form-label [nzSpan]="null" nzFor="state" style="padding: 0px;">State
                                    </nz-form-label>
                                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid state.">
                                        <nz-input-group nzSize="large">
                                            <input type="text" nz-input nzBorderless formControlName="state"
                                                placeholder="State" style="padding: 6.5px 0px" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                                <nz-form-item style="margin: 0 0 2px">
                                    <nz-form-label [nzSpan]="null" nzFor="state" style="padding: 0px;">Country
                                    </nz-form-label>
                                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid state.">
                                        <nz-select nzShowSearch style="min-width: 75px" nzPlaceHolder="Select Country"
                                            formControlName="country" nzBorderless>
                                            <nz-option *ngFor="let country of countryList" [nzLabel]="country.name"
                                                [nzValue]="country.name"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                        </div>

                        <!-- State Of Origin & LGA -->
                        <div nz-row class="rowStyle" style="border-bottom: 1px solid #D4E1E8; margin-top: 20px;">
                            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                                <nz-form-item style="margin: 0 0 2px">
                                    <nz-form-label [nzSpan]="null" nzFor="stateOfOrigin"
                                        style="text-align: left; padding: 0px;">State of Origin
                                    </nz-form-label>
                                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid state of origin.">
                                        <nz-input-group nzSize="large">
                                            <input type="text" nz-input nzBorderless formControlName="stateOfOrigin"
                                                placeholder="State of origin" style="padding: 6.5px 0px" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                                <nz-form-item style="margin: 0 0 2px">
                                    <nz-form-label [nzSpan]="null" nzFor="lga" style="text-align: left; padding: 0px;">
                                        LGA
                                    </nz-form-label>
                                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid lgs.">
                                        <nz-input-group nzSize="large">
                                            <input type="text" nz-input nzBorderless formControlName="lga"
                                                placeholder="LGA" style="padding: 6.5px 0px" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>

                        <!-- Dob & Gender-->
                        <div nz-row class="rowStyle" style="border-bottom: 1px solid #D4E1E8; margin-top: 20px;">
                            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                                <nz-form-item style="margin: 0 0 2px">
                                    <nz-form-label [nzSpan]="null" nzFor="dateOfBirth" style="padding: 0px;">Date of
                                        Birth</nz-form-label>
                                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid date.">
                                        <nz-input-group nzSize="large">
                                            <nz-date-picker nzSize="large" [nzFormat]="'dd-MMM-yyyy'"
                                                formControlName="dateOfBirth" nzBorderless></nz-date-picker>
                                            <!-- <input type="text" nz-input nzBorderless formControlName="dateOfBirth"
                                                placeholder="Enter your email address" style="padding: 6.5px 0px" /> -->
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                                <nz-form-item style="margin: 0 0 2px">
                                    <nz-form-label [nzSpan]="null" nzFor="gender" style="padding: 0px;">Gender
                                    </nz-form-label>
                                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid gender.">
                                        <nz-input-group nzSize="large">
                                            <nz-select nzSize="large" formControlName="gender" nzPlaceHolder="Gender"
                                                nzBorderless>

                                                <nz-option nzLabel="Male" nzValue="Male"></nz-option>
                                                <nz-option nzLabel="Female" nzValue="Female"></nz-option>
                                            </nz-select>
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>

                        <div nz-row class="rowStyle" style="margin-top: 20px; justify-content: flex-start;">
                            <nz-form-item *ngIf="!isEdit">
                                <nz-form-control>
                                    <button type="submit" nz-button nzType="primary" nzSize="large"
                                        [disabled]="!profileForm.valid">Save
                                        Changes</button>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                    </form>
                </div>
            </div>
        </nz-tab>

        <!-- Social Media Info-->
        <nz-tab nzTitle="Social Media Info">
            <div class="pInfoContainer">
                <h3 [ngStyle]="{ 'text-align': 'left','margin-bottom.px': 16 }">Social Media Information</h3>
                <span class="subTitle">Manage your Social Media information All changes in your account
                    will be applied to all of your workspace.</span>

                <div style="width: 100%;">
                    <div nz-row class="rowStyle">
                        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" style="text-align: right;">
                            <button nz-button nzType="link" class="editBtn" style="color: #29B475;"
                                (click)="handleSocialEdit()">
                                <i nz-icon nzType="edit" nzTheme="outline" style="color: #29B475; "></i> Edit
                                Profile</button>
                            <!-- <i nz-icon nzType="edit" nzTheme="outline" style="color: #29B475; margin-right: 7px;"></i>
                                <span class="editBtn">Edit Profile</span> -->
                        </div>
                    </div>
                    <form nz-form nzLayout="vertical" [formGroup]="socialMedialForm" (ngSubmit)="submitSocialForm()"
                        style="margin-top: 10px;">
                        <!-- LinkedIn -->
                        <nz-form-item>
                            <nz-form-label [nzSpan]="null" nzFor="linkedIn" style="padding: 0px;">LinkedIn
                            </nz-form-label>
                            <nz-form-control [nzSpan]="null">
                                <nz-input-group nzSize="large" nzPrefixIcon="linkedin">
                                    <input type="text" nz-input [nzBorderless] formControlName="linkedIn"
                                        placeholder="Enter your LinkedIn URL" style="padding: 6.5px 0px" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>


                        <!-- YouTube -->
                        <nz-form-item>
                            <nz-form-label [nzSpan]="null" nzFor="youtube" style=" padding: 0px;">YouTube
                            </nz-form-label>
                            <nz-form-control [nzSpan]="null">
                                <nz-input-group nzSize="large" nzPrefixIcon="youtube">
                                    <input type="text" nz-input nzBorderless formControlName="youtube"
                                        placeholder="Enter your LinkedIn URL" style="padding: 6.5px 0px" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>

                        <!-- Instagram -->
                        <nz-form-item>
                            <nz-form-label nzFor="instagram" style=" padding: 0px;">Instagram
                            </nz-form-label>
                            <nz-form-control>
                                <nz-input-group nzSize="large" nzPrefixIcon="instagram">
                                    <input type="text" nz-input nzBorderless formControlName="instagram"
                                        placeholder="Enter your Instagram URL" style="padding: 6.5px 0px" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>

                        <!-- Facebook -->
                        <nz-form-item>
                            <nz-form-label nzFor="facebook" style=" padding: 0px;">Facebook
                            </nz-form-label>
                            <nz-form-control>
                                <nz-input-group nzSize="large" nzPrefixIcon="facebook">
                                    <input type="text" nz-input nzBorderless formControlName="facebook"
                                        placeholder="Enter your Facebook URL" style="padding: 6.5px 0px" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>

                        <!-- Twitter -->
                        <nz-form-item>
                            <nz-form-label nzFor="twitter" style=" padding: 0px;">Twitter
                            </nz-form-label>
                            <nz-form-control>
                                <nz-input-group nzSize="large" nzPrefixIcon="twitter">
                                    <input type="text" nz-input nzBorderless formControlName="twitter"
                                        placeholder="Enter your Twitter URL" style="padding: 6.5px 0px" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>

                        <!-- Pinterest -->
                        <!-- <nz-form-item>
                                    <nz-form-label nzFor="pinterest" style=" padding: 0px;">Pinterest
                                    </nz-form-label>
                                    <nz-form-control>
                                        <nz-input-group nzSize="large" nzPrefixIcon="twitter">
                                            <input type="text" nz-input nzBorderless formControlName="pinterest"
                                                placeholder="Enter your Pinterest URL" style="padding: 6.5px 0px" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item> -->

                        <div nz-row>
                            <nz-form-item *ngIf="!isSocialEdit">
                                <nz-form-control>
                                    <button type="submit" nz-button nzType="primary" nzSize="large"
                                        [disabled]="!socialMedialForm.valid">Save
                                        Changes</button>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </form>
                </div>
            </div>

        </nz-tab>

        <!-- Business Info -->
        <nz-tab nzTitle="Business Info" *ngIf="authenticatedUser.role === 'company-owner'">
            <div class="pInfoContainer">
                <h3 [ngStyle]="{ 'text-align': 'left','margin-bottom.px': 16 }">Business Information</h3>
                <span class="subTitle">Manage your Business information All changes in your account
                    will be applied to all of your workspace.</span>

                <div *ngIf="isChangesPending">
                    <nz-alert nzType="info" nzMessage="Your profile changes are awaiting approval from admin.">
                    </nz-alert>
                </div>
                <br>
                <div style="width: 100%;">
                    <div nz-row class="rowStyle">
                        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                            <!-- <button nz-button nzType="text">Change image</button> -->
                            <div style="display: flex; flex-direction: column">

                                <nz-upload [nzCustomRequest]="handleBusinessUpload" [nzShowUploadList]="false"
                                    [nzBeforeUpload]="beforeUpload"
                                    nzFileType="image/png,image/jpeg,image/gif,image/bmp" style="display: flex !important; flex-direction: column;
                                    align-items: cente">
                                    <svg width="34" height="24" viewBox="0 0 34 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M28.574 10.5226C27.8457 4.78594 22.934 0.335938 17.0007 0.335938C12.4073 0.335938 8.41732 3.02094 6.59565 7.2526C3.01565 8.3226 0.333984 11.7026 0.333984 15.3359C0.333984 19.9309 4.07232 23.6693 8.66732 23.6693H27.0007C30.6773 23.6693 33.6673 20.6793 33.6673 17.0026C33.6648 15.5086 33.1617 14.0586 32.2385 12.884C31.3152 11.7094 30.0251 10.878 28.574 10.5226ZM18.6673 15.3359V20.3359H15.334V15.3359H10.334L17.0007 7.0026L23.6673 15.3359H18.6673Z"
                                            fill="#3781EE" />
                                    </svg>
                                    <br />
                                    <a>Upload proof of company</a>
                                </nz-upload>
                            </div>
                        </div>
                        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: right;">
                            <button nz-button nzType="link" class="editBtn" style="color: #29B475;"
                                (click)="handleBusinessEdit()">
                                <i nz-icon nzType="edit" nzTheme="outline" style="color: #29B475; "></i> Edit
                                Profile</button>
                            <!-- <i nz-icon nzType="edit" nzTheme="outline" style="color: #29B475; margin-right: 7px;"></i>
                            <span class="editBtn">Edit Profile</span> -->
                        </div>
                    </div>

                    <form nz-form nzLayout="vertical" [formGroup]="businessInfoForm" (ngSubmit)="submitBusinessForm()"
                        style="margin-top: 10px;">

                        <!-- First Name & Last Name-->
                        <div nz-row class="rowStyle" style="border-bottom: 1px solid #D4E1E8">
                            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                                <nz-form-item style="margin: 0 0 2px">
                                    <nz-form-label [nzSpan]="null" nzFor="name" style="padding: 0px;">Business Name
                                    </nz-form-label>
                                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid name.">
                                        <nz-input-group nzSize="large">
                                            <input type="text" nz-input nzBorderless formControlName="name"
                                                placeholder="Enter your business name" style="padding: 6.5px 0px" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                                <nz-form-item style="margin: 0 0 2px">
                                    <nz-form-label [nzSpan]="null" nzFor="regNo" style=" padding: 0px;">Registration
                                        Number
                                    </nz-form-label>
                                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid name.">
                                        <nz-input-group nzSize="large">
                                            <input type="text" nz-input nzBorderless formControlName="regNo"
                                                placeholder="Enter your registration number"
                                                style="padding: 6.5px 0px" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>


                        <!-- Email & Phone-->
                        <div nz-row class="rowStyle" style="border-bottom: 1px solid #D4E1E8; margin-top: 20px;">
                            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                                <nz-form-item style="margin: 0 0 2px">
                                    <nz-form-label [nzSpan]="null" nzFor="compEmail" style="padding: 0px;">Company Email
                                    </nz-form-label>
                                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid company email.">
                                        <nz-input-group nzSize="large">
                                            <input type="text" nz-input nzBorderless formControlName="compEmail"
                                                placeholder="Enter your company email address"
                                                style="padding: 6.5px 0px" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: right;">
                                <nz-form-item style="margin: 0 0 2px">
                                    <nz-form-label [nzSpan]="null" nzFor="phone" style="padding: 0px;">Phone Number
                                    </nz-form-label>
                                    <nz-form-control nzErrorTip="Please enter your phone number!">
                                        <nz-input-group [nzAddOnBefore]="addOnBusinessBeforeTemplate" nzSize="large">
                                            <input formControlName="phone" placeholder="Enter phone number" nzBorderless
                                                id="phoneNumber" nz-input nzSize="large" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                                <ng-template #addOnBusinessBeforeTemplate>
                                    <nz-select nzShowSearch style="min-width: 75px" nzPlaceHolder="Dial Code"
                                        formControlName="businessPhoneNumberPrefix" nzBorderless>
                                        <nz-option *ngFor="let country of countryList" [nzLabel]="country.dial_code"
                                            [nzValue]="country.dial_code"></nz-option>
                                    </nz-select>
                                </ng-template>
                            </div>
                        </div>


                        <!-- address -->
                        <div nz-row class="rowStyle" style="border-bottom: 1px solid #D4E1E8; margin-top: 20px;">
                            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" style="text-align: left;">
                                <nz-form-item style="margin: 0 0 2px">
                                    <nz-form-label [nzSpan]="null" nzFor="address" style="padding: 0px;">Business
                                        Address
                                    </nz-form-label>
                                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid address.">
                                        <nz-input-group nzSize="large">
                                            <input type="text" nz-input nzBorderless formControlName="address"
                                                placeholder="Enter your house address" style="padding: 6.5px 0px" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>

                        <!-- State & country -->
                        <div nz-row style="border-bottom: 1px solid #D4E1E8; margin-top: 20px;">
                            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                                <nz-form-item style="margin: 0 0 2px">
                                    <nz-form-label [nzSpan]="null" nzFor="state" style="padding: 0px;">State
                                    </nz-form-label>
                                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid state.">
                                        <nz-input-group nzSize="large">
                                            <input type="text" nz-input nzBorderless formControlName="state"
                                                placeholder="State" style="padding: 6.5px 0px" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                                <nz-form-item style="margin: 0 0 2px">
                                    <nz-form-label [nzSpan]="null" nzFor="state" style="padding: 0px;">Country
                                    </nz-form-label>
                                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid state.">
                                        <nz-select nzShowSearch style="min-width: 75px" nzPlaceHolder="Select Country"
                                            formControlName="country" nzBorderless>
                                            <nz-option *ngFor="let country of countryList" [nzLabel]="country.name"
                                                [nzValue]="country.name"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                        </div>

                        <!-- State Of Origin & LGA -->
                        <div nz-row class="rowStyle" style="border-bottom: 1px solid #D4E1E8; margin-top: 20px;">
                            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                                <nz-form-item style="margin: 0 0 2px">
                                    <nz-form-label [nzSpan]="null" nzFor="stateOfOrigin"
                                        style="text-align: left; padding: 0px;">State of Origin
                                    </nz-form-label>
                                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid state of origin.">
                                        <nz-input-group nzSize="large">
                                            <input type="text" nz-input nzBorderless formControlName="stateOfOrigin"
                                                placeholder="State of origin" style="padding: 6.5px 0px" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                                <nz-form-item style="margin: 0 0 2px">
                                    <nz-form-label [nzSpan]="null" nzFor="lga" style="text-align: left; padding: 0px;">
                                        LGA
                                    </nz-form-label>
                                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid lgs.">
                                        <nz-input-group nzSize="large">
                                            <input type="text" nz-input nzBorderless formControlName="lga"
                                                placeholder="LGA" style="padding: 6.5px 0px" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>

                        <!-- Dob & Gender-->
                        <div nz-row class="rowStyle" style="border-bottom: 1px solid #D4E1E8; margin-top: 20px;">
                            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="text-align: left;">
                                <nz-form-item style="margin: 0 0 2px">
                                    <nz-form-label [nzSpan]="null" nzFor="industry" style="padding: 0px;">Industries
                                    </nz-form-label>
                                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid number of staff.">
                                        <nz-input-group nzSize="large">
                                            <nz-select nzSize="large" formControlName="industry"
                                                nzPlaceHolder="Industries" nzBorderless>
                                                <nz-option nzLabel="Arts / Entertainment"
                                                    nzValue="Arts / Entertainment"></nz-option>
                                                <nz-option nzLabel="Business Services" nzValue="Business Services">
                                                </nz-option>
                                                <nz-option nzLabel="Construction" nzValue="Construction"></nz-option>
                                                <nz-option nzLabel="Consumer Goods / Retail"
                                                    nzValue="Consumer Goods / Retail"></nz-option>
                                                <nz-option nzLabel="Education" nzValue="Education"></nz-option>
                                                <nz-option nzLabel="Financial" nzValue="Financial"></nz-option>
                                                <nz-option nzLabel="Fitness / Sports" nzValue="Fitness / Sports">
                                                </nz-option>
                                                <nz-option nzLabel="Food / Hospitality" nzValue="Food / Hospitality">
                                                </nz-option>
                                                <nz-option nzLabel="Government" nzValue="Government"></nz-option>
                                                <nz-option nzLabel="Home Services" nzValue="Home Services"></nz-option>
                                                <nz-option nzLabel="Consumer Goods / Retail"
                                                    nzValue="Consumer Goods / Retail"></nz-option>
                                                <nz-option nzLabel="Legal" nzValue="Legal"></nz-option>
                                                <nz-option nzLabel="Manufacturing" nzValue="Manufacturing"></nz-option>
                                                <nz-option nzLabel="Marketing" nzValue="Marketing"></nz-option>
                                                <nz-option nzLabel="Medical / Healthcare"
                                                    nzValue="Medical / Healthcare"></nz-option>
                                                <nz-option nzLabel="Non-Profit" nzValue="Non-Profit"></nz-option>
                                                <nz-option nzLabel="Other" nzValue="Other"></nz-option>
                                                <nz-option nzLabel="Real Estate" nzValue="Real Estate"></nz-option>
                                                <nz-option nzLabel="Software / Technology"
                                                    nzValue="Software / Technology"></nz-option>
                                            </nz-select>
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                                <nz-form-item style="margin: 0 0 2px">
                                    <nz-form-label [nzSpan]="null" nzFor="numberOfStaff" style="padding: 0px;">Number of
                                        Staff
                                    </nz-form-label>
                                    <nz-form-control [nzSpan]="null" nzErrorTip="Enter valid number of staff.">
                                        <nz-input-group nzSize="large">
                                            <nz-select nzSize="large" formControlName="numberOfStaff"
                                                nzPlaceHolder="Number Of Staff" nzBorderless>
                                                <nz-option nzLabel="10 or less" nzValue="10orless"></nz-option>
                                                <nz-option nzLabel="10 - 25" nzValue="10-25"></nz-option>
                                                <nz-option nzLabel="26 - 100" nzValue="26-100"></nz-option>
                                                <nz-option nzLabel="101 - 250" nzValue="101-250"></nz-option>
                                                <nz-option nzLabel="251 - 1,000" nzValue="251-1,000"></nz-option>
                                                <nz-option nzLabel="1,001 - 5,000" nzValue="1,001-5,000"></nz-option>
                                                <nz-option nzLabel="5,000+" nzValue="5,000+"></nz-option>
                                            </nz-select>
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>

                        <div nz-row class="rowStyle" style="margin-top: 20px; justify-content: flex-start;">
                            <nz-form-item *ngIf="!isBusinessEdit">
                                <nz-form-control>
                                    <button type="submit" nz-button nzType="primary" nzSize="large"
                                        [disabled]="!businessInfoForm.valid">Save
                                        Changes</button>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </form>
                </div>
            </div>
        </nz-tab>

        <!-- Password -->
        <nz-tab nzTitle="Password">
            <div class="passwordContainer">
                <h3 [ngStyle]="{ 'text-align': 'left','margin-bottom.px': 16 }">Change Password</h3>

                <form nz-form nzLayout="vertical" [formGroup]="changePasswordForm" (ngSubmit)="submitForm()">

                    <!-- Current Password -->
                    <nz-form-item>
                        <nz-form-label nzFor="currPassword">Current Password</nz-form-label>
                        <nz-form-control nzErrorTip="Enter valid password.">
                            <nz-input-group nzSize="large" [nzSuffix]="suffixTemplate">
                                <input nzSize="large" [type]="passwordVisible ? 'text' : 'password'" nz-input
                                    placeholder="Enter your current password" formControlName="currPassword" />
                            </nz-input-group>
                            <ng-template #suffixTemplate>
                                <i nzSize="large" nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                    (click)="passwordVisible = !passwordVisible"></i>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>

                    <!-- New Password -->
                    <nz-form-item>
                        <nz-form-label nzFor="newPassword">New Password</nz-form-label>
                        <nz-form-control nzErrorTip="Enter valid password.">
                            <nz-input-group nzSize="large" [nzSuffix]="suffixTemplate">
                                <input nzSize="large" [type]="passwordVisible ? 'text' : 'password'" nz-input
                                    placeholder="Enter a new password" formControlName="newPassword" />
                            </nz-input-group>
                            <ng-template #suffixTemplate>
                                <i nzSize="large" nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                    (click)="passwordVisible = !passwordVisible"></i>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>

                    <div style="display: flex; flex-direction: column; align-items: flex-start; margin-bottom: 10px;">
                        <span>* Make sure it's at least 8 characters long.</span>
                        <span>* Make sure to include Alphanumeric values.</span>
                        <span>* Make sure to include uppercases.</span>
                        <span>* Make sure to include lowercases.</span>
                        <span>* Make sure to include special characters.</span>
                    </div>

                    <!-- Re enter Password -->
                    <nz-form-item>
                        <nz-form-label nzFor="reNewPassword">Re-enter Password</nz-form-label>
                        <nz-form-control nzErrorTip="Enter valid password.">
                            <nz-input-group nzSize="large" [nzSuffix]="suffixTemplate">
                                <input [type]="passwordVisible ? 'text' : 'password'" nzSize="large" nz-input
                                    placeholder="Enter a new password" formControlName="reNewPassword" />
                            </nz-input-group>
                            <ng-template #suffixTemplate>
                                <i nz-icon nzSize="large" [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                    (click)="passwordVisible = !passwordVisible"></i>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item nz-row style="margin-bottom:5px" [nzGutter]="8">
                        <nz-form-control>
                            <button nz-button nzType="primary" nzSize="large"
                                [disabled]="!changePasswordForm.valid">Save</button>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </div>
        </nz-tab>
    </nz-tabset>
</div>